
body{
    background-image: url("./images/roo3.jpg");
    background-size: cover;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -2%;
    /* background-color: aqua; */
    width: 70%;
    margin-inline: auto;
}
.navbar{
    background-color:#006989;
    padding: 1%;
}
.navbar button{
    margin-left: 10px;
    padding: 3px;
}

.user-info{
    background-color:#6B8A7A;
    padding: 3%;
    display: none;
   
    
}
.userShow{
    display: block;
}
.wrap{
    display: flex;
    justify-content: space-between;
}

/* room */
.room{
    background-color: #FFEEA9;
    padding: 5% 0;
}



/* payment */
.payment{
    background-color: #6B8A7A;
    padding: 3%;
}

.summary{
    background-color: #FFEEA9;
    padding: 1%;
}

.bs1{
   border-bottom: none;
}
.bs1:hover{
    border-bottom: 2px solid red;
}
.bs1.active{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid red;
}

